language: bash
services: docker
sudo: required

notifications:
  email: false
  slack:
    rooms:
      - secure: 3iUauEp7w5F6YDXXuJnKSLR9TZjndwhwWcDa+1KkAp9qv0NBAn1DWntl5iPUGzuZ0KdpQlI3QbvSMn0jYbsXgMDLgZRvCGaQ+TXrJblTPvlZXVxeGM3mCr6yEpt0foe8qqhiWAMer8ioM7QKncBiQfGbB2VctvuH8YqG2JuRSVe/dZxd+Jjn7J8SQyW97GQ0wpsYHQV7V2hg8KOF5/KNNk8Y93RGvnvEVX7XNVI+h+cdsxjBys9qxvC3gRpcngXw/v3mPM2sXN0LHjkobu9P9E7v9RHNwCz3i7FMzmOX82wcoPr06pnvnmecnU6pY3Uwmobed71KnTERSXt0S0Qpjvhod004vFBvzZovHKaucsUOzq0FdN+KaOhOZMr+LfCNty3iWZrEiYiuntFDAmr38xE0q4nb3dmljzEav8nTRO3/9DezWV98CBictzhwxknD/aPpWl7kXEl21K/jnprcJXypqNVscjJ/jylNiwebmFsv7oHlgeyzA9IbG8U7yO8kxCx86214FmPAJBkyAfevrQq9hOcigVwNuV7EoW5zqLTYb1pTyOkHSz/W9dKawjeG4c8ZTBsS1x6c+jQj735/MsQK0WMuaybOeTrVu6akKwXpiyZ4OGO7krHfCByXryZ56BNl7kb1J7aTjaLi0sifdc1X/eI6Y9nsHhc+Zyvv4AA=
    on_success: change
    
env:
  - IMAGE=picocms
  - IMAGE=gitea
  - IMAGE=sshd
  - IMAGE=borg
  - IMAGE=slack-eraser
  - IMAGE=sshd-gateway
  - IMAGE=snapcast-shairport
  - IMAGE=snips
  - IMAGE=snips-button-handler
  - IMAGE=s6-alpine
  - IMAGE=gandi
  - IMAGE=nextcloud VERSION=14.0 VARIANT=fpm
  - IMAGE=nextcloud VERSION=14.0 VARIANT=apache
  - IMAGE=nextcloud VERSION=13.0 VARIANT=fpm
  - IMAGE=nextcloud VERSION=13.0 VARIANT=apache

install:
  - docker run --rm --privileged multiarch/qemu-user-static:register --credential yes

script:
  - cd ${IMAGE}
  - make build
  - docker images

after_success:
  - if [ "${TRAVIS_BRANCH}" == "master" ]; then
      make push ;
    fi
