language: bash
services: docker
sudo: required

env:
  - IMAGE=borg
  - IMAGE=slack-eraser
  - IMAGE=sshd-gateway
  - IMAGE=snapcast-shairport
  - IMAGE=minio
  - IMAGE=snips-display-handler
  - IMAGE=s6-alpine
  - IMAGE=gandi
  - IMAGE=nextcloud VERSION=12.0 VARIANT=fpm
  - IMAGE=nextcloud VERSION=12.0 VARIANT=apache
  - IMAGE=nextcloud VERSION=13.0 VARIANT=fpm
  - IMAGE=nextcloud VERSION=13.0 VARIANT=apache

install:
  - docker run --rm --privileged multiarch/qemu-user-static:register --credential yes

script:
  - cd ${IMAGE}
  - make build
  - docker images

after_success:
  - if [ "${TRAVIS_BRANCH}" == "master" ]; then
      make push ;
    fi
